<?xml version="1.0"?>
<launch>
    <!-- OpenGL基本配置 -->
    <env name="MESA_GL_VERSION_OVERRIDE" value="3.0" />
    <env name="MESA_GLSL_VERSION_OVERRIDE" value="130" />
    <env name="OGRE_RESOURCE_INIT_DELAY" value="2.0" />
    <env name="OGRE_MAX_TEXTURE_SIZE" value="1024" />
    <env name="OGRE_TEXTURE_POOL_SIZE" value="64" />
    <env name="OGRE_MESH_POOL_SIZE" value="32" />
    
    <!-- 启动turtlebot3 burger仿真 -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    </include>
    
    <!-- 启动turtlebot3 burger导航 -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    </include>
    
    <!-- 启动模拟摄像头 -->
    <node name="image_publisher" pkg="image_publisher" type="image_publisher" args="$(find robot_control_gui)/resources/test_image.png">
        <param name="publish_rate" value="10.0"/>
        <param name="frame_id" value="camera"/>
        <remap from="camera_info" to="/camera/camera_info"/>
        <remap from="image_raw" to="/camera/image_raw"/>
    </node>

    <!-- 启动我们的GUI程序 -->
    <node name="robot_control_gui" pkg="robot_control_gui" type="robot_control_gui_node" output="screen" required="true" launch-prefix="nice -n -5">
        <param name="use_sim_time" value="true"/>
        <param name="robot_name" value="turtlebot3"/>
        <param name="cmd_vel_topic" value="/cmd_vel"/>
        <param name="odom_topic" value="/odom"/>
        <param name="scan_topic" value="/scan"/>
        <param name="map_topic" value="/map"/>
        <param name="initial_pose_topic" value="/initialpose"/>
        
        <!-- RViz配置 -->
        <rosparam command="load" file="$(find robot_control_gui)/config/rviz_config.yaml" />
        
        <!-- TF参数配置 -->
        <param name="tf_publish_rate" value="5.0"/>
        <param name="tf_buffer_size" value="5.0"/>
        <param name="tf_use_latest_transforms" value="true"/>
    </node>

    <!-- 添加TF缓存节点 -->
    <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
        <param name="buffer_size" value="5.0"/>
    </node>
</launch> 