<?xml version="1.0"?>
<launch>
    <!-- 定义参数 -->
    <arg name="use_sim" default="false" />
    <arg name="map_file" default="$(find robot_control_gui)/maps/test_map.yaml" />

    <!-- 加载地图 -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

    <!-- 启动地图显示测试程序 -->
    <node name="test_map_view" pkg="robot_control_gui" type="test_map_view" output="screen" />
</launch> 